{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuevo Zapato</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Guardar registro" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('zapato_index') }}">Zapato principal</a>
        </li>
    </ul>
{% endblock %}
